/RemoteSystemsTempFiles
# IntelliJ
out/
.idea/workspace.xml

# Maven output
target

#OS X stuff
.DS_Store

# Archivo Datasource
./sistemafinanciero/src/main/webapp/WEB-INF/jboss-javaee-webapp-ds.xml

/.metadata/

